#footer{
  background: url('../../assets/images/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position-x: -460px;
  padding-top: 220px;
  overflow: hidden;

}

.row{
  padding-bottom: 12em;
}

h6{
  text-align: left;
  font-weight: bold;
  padding-bottom: 10px;
}

p{
  font-weight: 100;
  padding: 10px 0 10px 0px;
  color: #ffffffeb;
  width: 90%;
}

p span{
  color: #b68834;
  font-size: 22px;
}

a{
  color: #b68834;
  text-decoration: none;
}
