<div class="container-fluid navtop">
  <img src="assets/images/logo.png" >
  <nav>
    <ul class="opentimes">
      <li>Mon-Fri:8am to 2pm</li>
      <li>Sat-Sun:11am to 4pm</li>
      <li>(012) 6985 236 7512</li>
    </ul>
    <ul class="stickynav">
      <li>
        <a class="active" >{{'home' | uppercase}}</a>
      </li>
      <li>
        <a href="#">{{'about' | uppercase}}</a>
      </li>
      <li>
        <a href="#">{{'review' | uppercase}}</a>
      </li>
      <li>
        <a href="#">{{'Blog' | uppercase}}</a>
      </li>
      <li>
        <a href="#">{{'pages' | uppercase}}</a>
      </li>
    </ul>
  </nav>
</div>
