<section id="images">
  <div class="container">
    <h1>What kind of Coffee we serve for you</h1>
    <h6>Who are in extremely love with eco friendly system.</h6>
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/images/g1.jpg">
        <img src="assets/images/g2.jpg">
      </div>
      <div class="col-lg-8">
        <div class="row">
          <img src="assets/images/g3.jpg" style="height: 396px">
          <div class="col-lg-6" style="padding-left: 0;">
            <img src="assets/images/g4.jpg"
            style="height: 232px;">
          </div>
          <div class="col-lg-6" style="padding-right: 0;">
            <img src="assets/images/g5.jpg"
            style="height: 232px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
